@font-face {
  font-family: 'VerlagCond';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/verlagcond-book-webfont.eot);
  src: url(../fonts/verlagcond-book-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/VerlagCond-Book.ttf) format("truetype"); }
@font-face {
  font-family: 'VerlagCond';
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/verlagcond-bold-webfont.eot);
  src: url(../fonts/verlagcond-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/VerlagCond-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'VerlagCond';
  font-style: bolder;
  font-weight: 900;
  src: url(../fonts/verlagcond-black-webfont.eot);
  src: url(../fonts/verlagcond-black-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/VerlagCond-Black.ttf) format("truetype"); }
/* Colors */
/* Font-size */
body {
  font-family: 'VerlagCond', sans-serif;
  font-size: 20px;
  color: #005caa; }

* {
  margin: 0 auto;
  padding: 0; }

a img {
  border: 0; }

.container {
  overflow: auto;
  margin: 0 auto;
  height: inherit; }

header .logo {
  display: block;
  text-align: center; }
header .container {
  padding: 10px 0;
  height: auto; }
  header .container .menu {
    display: none; }

.services .container {
  padding: 30px 0; }
  .services .container .title {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; }
  .services .container .package {
    display: inline-block;
    width: 220px;
    height: 230px; }
    .services .container .package p {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 900;
      text-align: center;
      margin-top: 13px; }
    .services .container .package img {
      display: block;
      margin: 0 auto; }

.story {
  background-color: #e30613;
  color: white; }
  .story .container {
    padding: 30px 0; }
    .story .container .title {
      width: 60%;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; }
    .story .container .content {
      margin-left: 10px; }
      .story .container .content p {
        vertical-align: middle;
        text-align: justify; }
        .story .container .content p span {
          text-transform: uppercase;
          text-align: center;
          font-size: 22px;
          font-weight: bolder; }
        .story .container .content p a {
          color: white; }

.oficina-movel {
  background-color: #005caa;
  color: white; }
  .oficina-movel .title {
    width: 60%;
    height: auto; }
  .oficina-movel .container {
    padding: 30px 0; }
    .oficina-movel .container .title {
      width: 60%;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; }

.partners .container {
  padding: 30px 0; }
  .partners .container p {
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%; }
  .partners .container .title {
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px; }
  .partners .container .items {
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto; }
    .partners .container .items img {
      margin-bottom: 30px;
      margin-right: 10px;
      height: 50px; }

.news {
  color: #e30613; }
  .news .container {
    padding: 30px 0; }
    .news .container .title {
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 60%;
      height: auto; }
    .news .container .items {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto; }
      .news .container .items figure {
        display: inline-block;
        margin-bottom: 40px;
        margin-right: 10px;
        height: 50px; }
        .news .container .items figure figcaption {
          text-align: center; }
        .news .container .items figure a {
          color: #e30613;
          text-decoration: none; }
      .news .container .items img {
        height: 50px; }

.contact {
  background-color: #e30613; }
  .contact .container {
    padding: 30px 0;
    color: white; }
    .contact .container .title {
      display: block;
      margin: 0 auto;
      width: 60%;
      height: auto; }
    .contact .container .contacts {
      color: white;
      font-weight: bold;
      font-size: 16px; }
      .contact .container .contacts .subtitle {
        text-transform: uppercase;
        text-decoration: underline;
        margin: 0; }
      .contact .container .contacts img {
        height: 19px; }
    .contact .container #address {
      display: table; }
      .contact .container #address #map_canvas {
        width: 260px;
        height: 200px; }
    .contact .container #social {
      margin-top: 20px; }
      .contact .container #social div {
        margin-bottom: 10px; }
        .contact .container #social div a {
          color: white;
          text-decoration: none; }
        .contact .container #social div img {
          top: 10px;
          height: 30px; }

.suggestions .title {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 60%;
  height: auto; }
.suggestions form label, .suggestions form input, .suggestions form textarea {
  width: 90%;
  display: block;
  margin: 0 auto; }
.suggestions form input {
  height: 2em;
  margin-bottom: 20px; }
.suggestions form textarea {
  height: 200px;
  margin-bottom: 20px; }
.suggestions form input[type=submit] {
  width: 20%;
  margin-left: 5%;
  font-family: 'VerlagCond';
  font-style: bold;
  font-size: 16px; }

@media screen and (max-width: 767px) {
  .story .container .illustration {
    margin-top: 5px;
    display: block;
    text-align: center; }
  .story .container .content {
    margin-right: 5%;
    margin-left: 5%; }
    .story .container .content p {
      vertical-align: middle;
      text-align: justify;
      font-size: 18px; }
      .story .container .content p span {
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        font-weight: bolder; }

  .oficina-movel .container .content p {
    margin-right: 5%;
    margin-left: 5%;
    text-align: justify; }
    .oficina-movel .container .content p span {
      text-transform: uppercase;
      text-align: center;
      font-size: 22px;
      font-weight: bolder; }
    .oficina-movel .container .content p a {
      color: white; }
  .oficina-movel .container .content #certificado {
    display: block;
    text-align: center;
    width: 90%; }
  .oficina-movel .container .content .illustration {
    margin-top: 10px; }
    .oficina-movel .container .content .illustration #oficina {
      display: block;
      text-align: center;
      width: 90%; }

  .services .container .servpack {
    width: 280px; }
  .services .container .package {
    display: inline-block;
    width: 135px;
    height: 140px; }
    .services .container .package p {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
      text-align: center;
      margin-top: 13px; }
    .services .container .package img {
      display: block;
      width: 110px;
      height: 110px;
      margin: 0 auto; }

  .contact {
    display: block; }
    .contact .title {
      margin-bottom: 0px; }
    .contact .contacts {
      margin-right: 20%;
      margin-left: 20%;
      display: block;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 50px; }
    .contact #address {
      display: block; }
      .contact #address #map_canvas {
        width: 300px;
        height: 200px; }
    .contact #social {
      display: block;
      width: 200px;
      text-align: center; }
      .contact #social #iconmail {
        display: none; }
      .contact #social img {
        display: inline-block;
        float: left;
        padding: 5%; }
      .contact #social p {
        display: none; } }
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    height: inherit; }

  header .logo {
    float: left;
    margin-left: 7%;
    margin-right: 5px;
    width: 180px;
    height: auto; }
  header .container {
    display: table;
    padding: 3px 0;
    height: auto; }
    header .container .menu {
      height: 1em;
      display: table-cell;
      vertical-align: middle;
      width: 800px; }
      header .container .menu a {
        padding: 2px;
        color: #005caa;
        text-decoration: none;
        margin-right: 1px;
        display: block;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px; }
      header .container .menu a.active {
        background-color: #005caa;
        color: white; }

  .services .container {
    padding: 30px 0;
    width: 720px; }
    .services .container .title {
      width: 266px;
      height: 60px;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; }
    .services .container .package {
      display: inline-block;
      width: 220px;
      height: 230px; }
      .services .container .package p {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        margin-top: 13px; }
      .services .container .package img {
        display: block;
        margin: 0 auto; }

  .story {
    background-color: #e30613;
    color: white; }
    .story .container {
      padding: 30px 0; }
      .story .container .title {
        width: 266px;
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px; }
      .story .container .content {
        margin-left: 20px;
        display: table; }
        .story .container .content p {
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          text-align: justify; }
          .story .container .content p span {
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            font-weight: bolder; }
          .story .container .content p a {
            color: white; }
        .story .container .content .illustration {
          display: table-cell;
          vertical-align: middle;
          height: 330px; }
          .story .container .content .illustration img {
            display: block;
            margin: 0 auto; }

  .oficina-movel {
    background-color: #005caa;
    color: white; }
    .oficina-movel .container {
      padding: 30px 0; }
      .oficina-movel .container .title {
        width: 266px;
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px; }
      .oficina-movel .container .content {
        display: table; }
        .oficina-movel .container .content p {
          margin-right: 10%;
          margin-left: 10%;
          text-align: justify; }
          .oficina-movel .container .content p span {
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            font-weight: bolder; }
          .oficina-movel .container .content p a {
            color: white; }
          .oficina-movel .container .content p #certificado {
            position: relative;
            max-width: 300px;
            padding-bottom: 20px; }
        .oficina-movel .container .content .illustration {
          display: table-cell;
          vertical-align: middle; }
          .oficina-movel .container .content .illustration img {
            display: block;
            margin-right: 10px;
            height: 500px; }

  .partners .container {
    padding: 30px 0; }
    .partners .container p {
      text-align: justify;
      width: 90%; }
    .partners .container .title {
      width: 266px;
      height: 60px;
      display: block;
      margin: 0 auto;
      margin-bottom: 50px; }
    .partners .container .items {
      display: block;
      text-align: center;
      width: 90%;
      margin: 0 auto; }
      .partners .container .items img {
        margin-bottom: 30px;
        margin-right: 10px;
        height: 50px; }

  .news {
    color: #e30613; }
    .news .container {
      padding: 30px 0; }
      .news .container .title {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 266px;
        height: 60px; }
      .news .container .items {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto; }
        .news .container .items figure {
          display: inline-block;
          margin-bottom: 40px;
          margin-right: 10px;
          height: 50px; }
          .news .container .items figure figcaption {
            text-align: center; }
          .news .container .items figure a {
            color: #e30613;
            text-decoration: none; }
        .news .container .items img {
          height: 50px; }

  .contact {
    background-color: #e30613; }
    .contact .container {
      padding: 30px 0;
      color: white; }
      .contact .container .title {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 266px;
        height: 60px; }
      .contact .container .contacts {
        float: left;
        color: white;
        font-weight: bold;
        font-size: 16px;
        width: 250px;
        margin-left: 10px;
        margin-right: 10px; }
        .contact .container .contacts .subtitle {
          text-transform: uppercase;
          text-decoration: underline;
          margin: 0; }
        .contact .container .contacts a {
          color: white; }
        .contact .container .contacts img {
          height: 19px; }
      .contact .container #address {
        float: left;
        display: table;
        margin-right: 10px; }
        .contact .container #address #map_canvas {
          width: 430px;
          height: 320px; }
      .contact .container #social {
        float: left;
        color: white;
        font-weight: bold;
        font-size: 16px; }
        .contact .container #social #iconmail {
          display: none; }
        .contact .container #social p {
          display: none; }
        .contact .container #social div {
          margin-bottom: 40px; }
          .contact .container #social div a {
            color: white;
            text-decoration: none; }
          .contact .container #social div img {
            position: relative;
            top: 10px;
            height: 30px;
            margin-right: 6px; }

  .suggestions .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 269px;
    height: 61px; }
  .suggestions form label, .suggestions form input, .suggestions form textarea {
    width: 90%;
    display: block;
    margin: 0 auto; }
  .suggestions form input {
    height: 2em;
    margin-bottom: 20px; }
  .suggestions form textarea {
    height: 200px;
    margin-bottom: 20px; }
  .suggestions form input[type=submit] {
    width: 20%;
    margin-left: 5%;
    font-family: 'VerlagCond';
    font-style: bold;
    font-size: 16px; } }
@media screen and (min-width: 1200px) {
  .container {
    overflow: auto;
    margin: 0 auto;
    width: 1000px;
    height: inherit; }

  header .logo {
    float: left;
    margin-right: 20px; }
  header .container {
    display: table;
    padding: 10px 0;
    height: auto; }
    header .container .menu {
      height: 1em;
      display: table-cell;
      vertical-align: middle;
      width: 800px; }
      header .container .menu a {
        padding: 5px;
        color: #005caa;
        text-decoration: none;
        margin-right: 3px;
        display: block;
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px; }
      header .container .menu a.active {
        background-color: #005caa;
        color: white; }

  .about {
    display: block;
    margin: 0 auto;
    width: 1020px;
    margin-top: 30px; }

  .services .container {
    padding: 30px 0;
    width: 720px; }
    .services .container .title {
      width: 266px;
      height: 60px;
      display: block;
      margin: 0 auto;
      margin-bottom: 30px; }
    .services .container .package {
      display: inline-block;
      width: 220px;
      height: 230px; }
      .services .container .package p {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        margin-top: 13px; }
      .services .container .package img {
        display: block;
        margin: 0 auto; }

  .story {
    background-color: #e30613;
    color: white; }
    .story .container {
      padding: 30px 0; }
      .story .container .title {
        width: 266px;
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px; }
      .story .container .content {
        display: table; }
        .story .container .content p {
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          text-align: justify; }
          .story .container .content p span {
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            font-weight: bolder; }
          .story .container .content p a {
            color: white; }
        .story .container .content .illustration {
          display: table-cell;
          vertical-align: middle;
          height: 330px; }
          .story .container .content .illustration img {
            display: block;
            margin: 0 auto; }

  .oficina-movel {
    background-color: #005caa;
    color: white; }
    .oficina-movel .title {
      width: 266px;
      height: 60px; }
    .oficina-movel .container {
      padding: 30px 0; }
      .oficina-movel .container .title {
        width: 266px;
        height: 60px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px; }
      .oficina-movel .container .content {
        display: table; }
        .oficina-movel .container .content p {
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          text-align: justify; }
          .oficina-movel .container .content p span {
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            font-weight: bolder; }
          .oficina-movel .container .content p a {
            color: white; }
          .oficina-movel .container .content p #certificado {
            position: relative;
            width: 300px;
            max-width: 300px;
            margin-left: 100px;
            padding-bottom: 20px; }
        .oficina-movel .container .content .illustration {
          display: table-cell;
          vertical-align: middle; }
          .oficina-movel .container .content .illustration img {
            display: block;
            margin: 0 auto;
            height: 500px; }

  .partners .title {
    width: 266px;
    height: 60px; }
  .partners .container {
    padding: 30px 0; }
    .partners .container .title {
      display: block;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 269px;
      height: 61px; }
    .partners .container .items {
      width: 800px;
      margin: 0 auto; }
      .partners .container .items img {
        margin-bottom: 30px;
        margin-right: 10px;
        height: 80px; }

  .news {
    color: #e30613; }
    .news .container {
      padding: 30px 0; }
      .news .container .title {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 266px;
        height: 60px; }
      .news .container .items {
        width: 800px;
        margin: 0 auto;
        text-align: center; }
        .news .container .items figure {
          display: inline-block;
          margin-bottom: 60px;
          margin-right: 10px;
          height: 90px; }
          .news .container .items figure figcaption {
            text-align: center; }
          .news .container .items figure a {
            color: #e30613;
            text-decoration: none; }
        .news .container .items img {
          height: 90px; }

  .contact {
    background-color: #e30613; }
    .contact .container {
      padding: 30px 0;
      color: white; }
      .contact .container .title {
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
        width: 266px;
        height: 60px; }
      .contact .container .contacts {
        float: left;
        color: white;
        font-weight: bold;
        font-size: 16px;
        width: 250px;
        margin-right: 10px; }
        .contact .container .contacts #mail {
          display: none; }
        .contact .container .contacts .subtitle {
          text-transform: uppercase;
          text-decoration: underline;
          margin: 0; }
        .contact .container .contacts a {
          color: white; }
        .contact .container .contacts img {
          height: 19px; }
      .contact .container #address {
        float: left;
        display: table;
        margin-right: 10px; }
        .contact .container #address #map_canvas {
          width: 450px;
          height: 320px; }
      .contact .container #social {
        float: left;
        color: white;
        font-weight: bold;
        font-size: 16px; }
        .contact .container #social div {
          margin-bottom: 10px; }
          .contact .container #social div a {
            color: white;
            text-decoration: none; }
          .contact .container #social div img {
            position: relative;
            top: 10px;
            height: 30px;
            margin-right: 6px; }

  .suggestions .title {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 269px;
    height: 61px; }
  .suggestions form label, .suggestions form input, .suggestions form textarea {
    width: 90%;
    display: block;
    margin: 0 auto; }
  .suggestions form input {
    height: 2em;
    margin-bottom: 20px; }
  .suggestions form textarea {
    height: 200px;
    margin-bottom: 20px; }
  .suggestions form input[type=submit] {
    width: 10%;
    margin-left: 5%;
    font-family: 'VerlagCond';
    font-style: bold;
    font-size: 18px; } }

/*# sourceMappingURL=styles.css.map */
